.form__input{
    border: 1px solid var(--pale-blue);
    border-radius: 2rem;
    outline: none;
    padding: 1rem;
    width: 25%;
}

.form__input::placeholder{
    color: var(--pale-blue);
}

.email-error{
    color: var(--light-red);
    font-style: italic;
    font-weight: 500;
    text-align:left;

}

@media screen and (max-width: 375px) {
    .form__input{
        width: 80%;
    }
}